:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root::-webkit-scrollbar {
  width: 0.25rem;
}

:root::-webkit-scrollbar-track {
  background: #1e1e2400;
}

:root::-webkit-scrollbar-thumb {
  background: rgb(209, 178, 253);
}

body {
  margin: 0;
  margin-top: 2rem;
}

.container {
  margin: 0;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 3rem;
}

.titlebar {
  height: 30px;
  background: #000;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1/1;
}
.titlebar-button svg {
  font-size: 1.5rem;
  transition: 300ms;
  color: #ffffff;
}
.titlebar-button svg:hover {
  transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
    background-image: radial-gradient(#656ed0a6 1px, transparent 0),
      radial-gradient(#6bc6ed 1px, transparent 0);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

/* variables  */
/* dark */
element {
  --main-bg-color: brown;
}
